.contents{
    width: 50%;
    text-align: center;
}

.form_outer{
    width: 80%;
    margin: 0 auto;
}

.form_inner{
    margin-top: 10%;
}

.heading_word{
    font-size: 2em;
    font-weight:300;
}

.input_box{
    margin-top: 3%;
}

.subject{
    text-align: left;
}

.link{
    margin-bottom: 50px;
}