
.main-right {
  width: 400px;
}

.clear-notice-button {
  width: 100%;
  height: 50px;
}

.submit-button {
  width: 100%;
  height: 50px;
}

.deal-message-box {
  width: 100%;
  height: 300px;
  border: none;
}

.deal-input-box {
  padding: 15px 0 0 15px;
  width: 100%;
  height: 150px;
}

.buy-history-button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 50px;
}