.contents{

    width: 50%;
    min-height: 83.5vh;
    height: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.info_box{
    height: 3em;
    background-color: white;
    border-top: solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.info_frame:nth-last-child(1){
    border-bottom: solid gainsboro;
}
