* {
  box-sizing: border-box;
  color: #434343;
  font-family: "YuGothic";
}

html, body {
  width: 100%;
  height: auto;
  min-height: 81vh;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/*header*/
header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  height: 9vh;
  background-color: #b88d54;
  position: fixed;
  top:0;
}


.header-logo {
  margin-left: 20px;
  font-size: 30px;
  color: #9D3A3A;
}

.search-icon {
  margin-left: 20px;
  width: 35px;
  height: 28px;
}

.search-box {
  margin-left: 10px;
  width: 548px;
  height: 36px;
  background-color: aliceblue;
  border-radius: 4px;
  border: none;
  line-height: 36px;
  font-size: 20px;
}

header ul {
  display: flex;
  margin-left: 40px;
  text-align: center;
}

header li {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 15px;
  list-style: none;
  color: white;
}

/*main*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECDEBF;
  height: auto;
  min-height: 83.5vh;
  margin-top: 9vh;
}

input {
  border: none;
}



.main-left {
  margin-right: 100px;
}


.border {
  width: 740px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.img-contents {
  display: flex;
  align-items: center;
}

.img-box {
  width: 100px;
  height: 100px;
  background: #CEBB90;
  border-radius: 20px;
}

.img-text {
  margin-left: 50px;
}

.space {
  padding-bottom: 200px;
}


button {
  border: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search_btn{
  height: 36px;
  width: 60px;
  border-radius: 5px;
}

.white-box {
  background: white;
  border-radius: 20px;
}

.brown-box {
  background: #CEBB90;
  border-radius: 20px;
}

/*修正予定*/
.list-button {
  width: 300px;
  height: 90px;
  background: #CEBB90;
}

.list-wrap {
  margin-left: 100px;
}
/**/





/*footer*/
footer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  height: 7.5vh;
  padding-left: 50px;
  background: #B1685D;
}

footer p {
  color: white;
  margin-right: 50px;
  font-size: 20px;
}
