.contents{
    width: 50%;
    text-align: center;
}

.form_outer{
    width: 80%;
    margin: 0 auto;
}

.form_inner{
    margin-top: 10%;
}

.heading_word{
    font-size: 2em;
    font-weight:300;
}

.input_box{
    margin-top: 3%;
}

.subject{
    text-align: left;
    margin-top: 0.5em;
}

.next_btn{
    width: 60%;
    height: 3em;
    color: white;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: #D11892;
}

.link{
    margin-bottom: 50px;
}