.contents{
    width: 60%;
    text-align: center;
}

.item_frames{
    margin-top: 5%;
    width: 100%;
    height: 67.5vh;
    display: flex;
}

.item_frame{
    width: 46%;
    height: 100%;
    margin: 2%;
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.item_info{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: left;
}

.seller_name{
    text-align: left;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.info_subject{
    /* width: 100%; */
    color: #686868;
    font-size: 0.7em;
    width: 80%;
    margin: 0 auto;
    margin-top: 3vh;

}

#subject_price{
    margin-top: 0;
}

.info_data{
   font-size: 1em;
   width: 80%;
   margin: 0 auto;
}

#data_name{
    height: 4em;
}

.seller_name{
    height: 15%;
    background-color: white;
    border-radius: 10px;
}

.iamge_frame{
    height: 85%;
}

#icon{
    margin-top: 4.5vh;
    width: 100%;
    border-radius: 10px;
}

.act_btns{
    width: 100%;
    display: flex;
}

.buyer_btn_frame{
    width: 50%;
    margin-top: 4%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    height: 8vh;
}

.act_btn{
    width: 85%;
    background-color: #D11892 ;
    border-radius: 5px;
    color: #FFF;
    height: 80%;

}

#buy_btn_frame{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#buy_act_btn{
    width: 92%;
}

.buyer_btns{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

.description_frame{
    width: 100%;
    height:fit-content ;
    min-height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 5%;

}

.description_box{
    width: 97%;
    height:fit-content ;
    min-height: 10em;
    font-size: 0.8em;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px ;
}

.seller_btn_frame{
    width: 100%;
    height: 7vh;
    margin-top: 5%;
    margin-bottom: 2%;
}

#seller_btn{
    width: 96%;
    background-color: #0077FF;
}